<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js")

        link(rel="stylesheet", href="css/all.css")
        link(rel="stylesheet", media="screen and (max-width: 991.9px)", href="css/tablet.css")
        link(rel="stylesheet", media="screen and (max-width: 767.8px)", href="css/screen_xs.css")
        link(rel="stylesheet", media="screen and (max-width: 415px) and (max-height: 1281px)", href="css/mobile.css")

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js')
    body
        #nav_head

            .wrapper
                a.navbar-brand(href="#header" )
                    img(src="img/Logo.png")

                nav.navigation
                    ul
                        li
                            a.nav-link(href='#header') 登入

        header#header
            .container
                .headingTitle
                    
                    .heading1
                        img.img-fluid(src='img/heading1.png')
                    .heading2
                        img.img-fluid(src='img/heading2.png')
                    .heading3 數據進得來、錢花得出去、電商發大財
                    .heading4 百萬品牌電商指定使用，節省35%以上多餘的廣告費

                a.tryOutBtn(href='') 立即申請試用
                .clearfix


                img.img-fluid.header_img(src='img/headerImg.png')
                            
        
        section#section_problem
            .container
                .problem_heading1
                    .imgDiv
                        img.img-fluid(src='img/problem_heading1.png')
                .problem_heading2 電商的痛，我們很懂

                ul.problems
                    li.problem1 廣告不知道怎麼優化，要修正圖片還是文案只能猜
                    li.problem2 找 KOL 代言導流難以評估量化、業績不知從哪來
                    li.problem3 a/b測試時間太長，頁面成效不知如何評估才合理
                .row
                    .col-12.col-md-3
                        .condition
                            .imgDiv
                                img(src="img/problem1.png", alt="")
                            .imgText 困惑
                    .col-4.col-md-3
                        .condition
                            .imgDiv
                                img(src="img/problem2.png", alt="")
                            .imgText 假設錯誤
                    .col-4.col-md-3
                        .condition
                            .imgDiv
                                img(src="img/problem3.png", alt="")
                            .imgText 繼續嘗試
                    .col-4.col-md-3
                        .condition
                            .imgDiv
                                img(src="img/problem4.png", alt="")
                            .imgText 還是失敗

            

        section#section_feature
            .imgDiv#cellphonePic
                img.cellphoneImg(src='img/cellphone.png')
            .featureDiv
                .featureTitle
                    img(src='img/feature_heading.png')
                .feature_line#firstLine
                    .feature.feature1
                        img(src='img/feature1.png')
                        .imgText 自訂網域
                    .feature.feature2
                        img(src='img/feature2.png')
                        .imgText 自動分流
                .feature_line#secondLine
                    .feature.feature3 
                        img(src='img/feature3.png')
                        .imgText 埋追蹤碼
                    .feature.feature4 
                        img(src='img/feature4.png')
                        .imgText 連結替換
                    .feature.feature5 
                        img(src='img/feature5.png')
                        .imgText 自訂參數                 



            
            //- .container-fluid
            //-     .row
            //-         .col-5
            //-             img.cellphoneImg(src='img/cellphone.png')
            //-         .col-7
            //-             .feature_heading 
            //-                 img(src='img/feature_heading.png')
            //-             .row
            //-                 .col-md-6
            //-                     .feature_imgDiv
            //-                         img.img-fluid(src="img/feature1.png", alt="")
            //-                         .imgText 自訂網域
            //-                 .col-md-6
            //-                     .feature_imgDiv
            //-                         img.img-fluid(src="img/feature2.png", alt="")
            //-                         .imgText 自動分流

            //-                 .col-md-4
            //-                     .feature_imgDiv
            //-                         img.img-fluid(src="img/feature3.png", alt="")
            //-                         .imgText 埋追蹤碼

            //-                 .col-md-4
            //-                     .feature_imgDiv
            //-                         img.img-fluid(src="img/feature4.png", alt="")
            //-                         .imgText 連結替換
            //-                 .col-md-4
            //-                     .feature_imgDiv
            //-                         img.img-fluid(src="img/feature5.png", alt="")
            //-                         .imgText 自訂參數

                        //- .wrapper_feature
                        //-     .feature_imgDiv
                        //-         img(src="img/feature3.png", alt="")
                        //-         .imgText 埋追蹤碼
                        //-     .feature_imgDiv
                        //-         img(src="img/feature4.png", alt="")
                        //-         .imgText 連結替換
                        //-     .feature_imgDiv
                        //-         img(src="img/feature5.png", alt="")
                        //-         .imgText 自訂參數
                            
                        //- .wrapper_feature
                        //-     .feature_imgDiv
                        //-         img(src="img/feature3.png", alt="")
                        //-         .imgText 埋追蹤碼
                        //-     .feature_imgDiv
                        //-         img(src="img/feature4.png", alt="")
                        //-         .imgText 連結替換
                        //-     .feature_imgDiv
                        //-         img(src="img/feature5.png", alt="")
                        //-         .imgText 自訂參數
                            
                                                        


        section#section_performance
            img.img_wave_top(src='img/wave_top.png')
            img.img_wave_left(src='img/wave_left.png')
            
            .performanceDiv1
                
                .title
                    img#magnifier_img(src='img/magnifier.png')

                    img#imgTarget(src='img/p_title.png')
                    span <span id='titleTarget'>顯</span>著提升
                p  相較於未使用自訂短網址前的點擊率、在<span class='highlight'>使用了自訂短網址</span>後點擊率獲得了顯著的成長!連帶著<span class='highlight'>點擊成本也降低了</span>非常多。
            

            .performanceDiv2
                .subtitle ab測試相當容易
                img(src='img/statistic.png')
                p 流量會<span class='highlight'>自動分流</span>、系統更會自動<span class='highlight'>鎖定瀏覽器</span>，同一瀏覽者只會看到同一頁面!提高測試數據的<span class='highlight'>準確度</span>

            .performanceDiv3
                .p_bigText 可直接<span class='highlight bold'>由後端</span>更換短網址連結，<span class='bold'>不用更改</span>廣告素材文案
                .subtitle 連結置換隨心所欲
                img(src='img/wave.png')

        section#section_review
            .container-fluid
                .row
                    .col-12.title
                        img.img_review
                    .col-12.title_words 品牌主的實際回饋
                    .col-sm-4.col-12
                        img.headpic
                        .wrapper
                            .triangle 
                            .body
                                .body_subject
                                .text 
                    .col-sm-4.col-12
                        img.headpic
                        .wrapper
                            .triangle
                            .body
                                .body_subject
                                .text
                    .col-sm-4.col-12
                        img.headpic
                        .wrapper
                            .triangle
                            .body
                                .body_subject
                                .text
 
        section#section_brand
            .title
            .brand_group
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")
                img.brand(src="", alt="")

        footer#footer
            h1 立即申請免費試用
            .text
            a.button_sign_up

        script(src='js/all.js')


