<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js")

        link(rel="stylesheet", href="css/all.css")
    body
        nav.navbar
            a.navbar-brand(href='#') 
                img(src='img/logo.png')

            .nav-item
                a.nav-link(href='#') 登入

        header#header
            .container
                .headingTitle
                    
                    .heading1
                        img.img-fluid(src='img/heading1.png')
                    .heading2
                        img.img-fluid(src='img/heading2.png')
                    .heading3 數據進得來、錢花得出去、電商發大財
                    .heading4 百萬品牌電商指定使用，節省35%以上多餘的廣告費

                a.tryOutBtn(href='') 立即申請試用
                .clearfix


                img.img-fluid.header_img(src='img/headerImg.png')
                            
        
        section#section_problem
            .container
                .problem_heading1
                    img.img-fluid(src='img/problem_heading1.png')
                .problem_heading2 電商的痛，我們很懂

                .problems
                    p.problem1 廣告不知道怎麼優化，要修正圖片還是文案只能猜
                    p.problem2 找KOL代言導流難以評估量化、業績不知從哪來
                    p.problem3 a/b測試時間太長，頁面成效不知如何評估才合理
                .row
                    .col-12.col-md-3
                        .imgDiv
                            img(src="img/problem1.png", alt="")
                        .imgText 困惑
                    .col-12.col-md-3
                        .imgDiv
                            img(src="img/problem2.png", alt="")
                        .imgText 假設錯誤
                    .col-12.col-md-3
                        .imgDiv
                            img(src="img/problem3.png", alt="")
                        .imgText 繼續嘗試
                    .col-12.col-md-3
                        .imgDiv
                            img(src="img/problem4.png", alt="")
                        .imgText 還是失敗

            

        section#section_feature
            
            .container-fluid
                .row
                    .col-5
                        img.cellphoneImg(src='img/cellphone.png')
                    .col-7
                        .feature_heading 
                            img.img-fluid(src='img/feature_heading.png')
                        .row
                            .col-md-6
                                .feature_imgDiv
                                    img.img-fluid(src="img/feature1.png", alt="")
                                    .imgText 自訂網域
                            .col-md-6
                                .feature_imgDiv
                                    img.img-fluid(src="img/feature2.png", alt="")
                                    .imgText 自動分流

                            .col-md-4
                                .feature_imgDiv
                                    img.img-fluid(src="img/feature3.png", alt="")
                                    .imgText 埋追蹤碼

                            .col-md-4
                                .feature_imgDiv
                                    img.img-fluid(src="img/feature4.png", alt="")
                                    .imgText 連結替換
                            .col-md-4
                                .feature_imgDiv
                                    img.img-fluid(src="img/feature5.png", alt="")
                                    .imgText 自訂參數

                        //- .wrapper_feature
                        //-     .feature_imgDiv
                        //-         img(src="img/feature3.png", alt="")
                        //-         .imgText 埋追蹤碼
                        //-     .feature_imgDiv
                        //-         img(src="img/feature4.png", alt="")
                        //-         .imgText 連結替換
                        //-     .feature_imgDiv
                        //-         img(src="img/feature5.png", alt="")
                        //-         .imgText 自訂參數
                            
                        //- .wrapper_feature
                        //-     .feature_imgDiv
                        //-         img(src="img/feature3.png", alt="")
                        //-         .imgText 埋追蹤碼
                        //-     .feature_imgDiv
                        //-         img(src="img/feature4.png", alt="")
                        //-         .imgText 連結替換
                        //-     .feature_imgDiv
                        //-         img(src="img/feature5.png", alt="")
                        //-         .imgText 自訂參數
                            
                                                        


        section#section_performance
        section#section_review
        section#section_brand

        footer#footer


