html,body
    width: 100%

*
    border: solid 1px black
    font-family: 微軟正黑體
    position: relative
    text-align: center

nav.navbar 
    >a.navbar-brand
        margin-left: 2rem
    >.nav-item
        margin-right: 2rem
        >a.nav-link
            border-radius: 15px
            color: #fff
            background-image: linear-gradient(to right, #E39C82, #EA6385)

header#header
//     padding-top: 200px 
    // text-align: center

section#section_problem
    background-color: #F4F5F7

    .container>.row
        .col-6.col-md-3
            // margin: auto
            .imgDiv
                background-color: #fff
                border-radius: 100%
                max-width: 205px
                max-height: 205px
                margin: auto
                // padding: 0
                img 
                    width: 100%
                    // margin: 0
                    width: 100%

section#section_feature
    background-image: linear-gradient(to right, #E39F82, #E9587C)
    .col-5
        position: relative
        >img.cellphoneImg
            position: absolute
            left: 0
            width: 28vw
    .col-7
        // right: 15px
        >.row
            .feature_imgDiv
                margin-left: auto
                margin-right: auto
                width: 110px
                img 
                    width: 100%
                .imgText
                    color: white
            


        // .wrapper_feature
        //     display: flex
        //     flex-direction: row
        //     justify-content: center


