// 針對手機版做調整
// (max-width: 415px) and (max-height: 1281px)

section#section_feature
    .imgDiv#cellphonePic
        order: 2 
        width: 100%
        img.cellphoneImg 
            position: relative
            margin: auto
    .featureDiv
        order: 1
        width: 100%
        .feature_line
            .feature
                img 
                    width: 60%
                // .imgText
                     // font-size: 1.5rem
