// 針對手機版做調整
// (max-width: 415px) and (max-height: 1281px)

header#header
    .container
        .headingTitle
            padding-left: 10px
            padding-right: 10px 
            .heading1
                padding-left: 0.2rem
                padding-right: 0.2rem
            .heading2
            .heading3 
                font-size: 16px
            .bigTitle
                display: none
            .smallTitle
                display: block
            .heading3.smallTitle
                font-size: 20px 
                font-weight: bold
                // text-shadow: 0.8px 0.8px rgba(black,0.6)
            .heading4
                font-size: 14px
        a.tryOutBtn
            top: 8px
            &:hover
                top: 11px


section#section_problem
    padding-left: 0
    padding-right: 0
    .container
        .problem_heading2
            font-size: 20px
        ul.problems
            li 
                font-size: 14px
        .row 
            .col-4.col-md-3,.row .col-4.col-md-3
                .condition
                    .imgText
                        font-size: 14px

section#section_feature
    .imgDiv#cellphonePic
        order: 2 
        width: 90%
        margin: auto
        margin-top: -30px
        margin-bottom: 60px
        top: none
        img.cellphoneImg 
            position: relative
            margin: auto
            bottom: initial
            right: initial
    .featureDiv
        order: 1
        width: 100%
        .featureTitle
            img 
                width: 40%
        .feature_line
            // .feature5
            //     margin-top: 20px
            .feature
                width: 43%
                img 
                    width: 60%
                .imgText
                     font-size: 1.65rem


section#section_performance
    padding-left: 20px
    padding-top: 125px
    .performanceDiv2
        .subtitle,img
            left: 0

section#section_performance 
    padding-right: 20px  
    padding-left: 20px
    img.img_dot
        right: 15px

    .performanceDiv1
        .title
            >img#magnifier_img
                left: 90%
                bottom: calc(100% - 8rem)
        p
            // font-size: $fz_innerText
    .performanceDiv2
        text-align: center
        // left: -15px
        .subtitle
            width: 100%
            max-width: none
            left: 0
        img 
            margin-left: auto
            margin-right: auto
            left: 0
        p 
            // font-size: $fz_innerText
            margin-left: auto 
            margin-right: auto
    // .performanceDiv3
    //     .p_bigText
    //         font-size: $fz_bigInnerText



section#section_brand
    .brand_group
        img.brand
            margin-top: 20px 
            margin-bottom: 20px




