// 針對手機版做調整
// (max-width: 415px) and (max-height: 1281px)

header#header
    .container
        a.tryOutBtn
            top: 8px
            &:hover
                top: 11px

section#section_feature
    .imgDiv#cellphonePic
        order: 2 
        width: 90%
        margin-top: -130px
        top: 100px
        img.cellphoneImg 
            position: relative
            margin: auto
            bottom: initial
            right: initial
    .featureDiv
        order: 1
        width: 100%
        .featureTitle
            img 
                width: 40%
        .feature_line
            // .feature5
            //     margin-top: 20px
            .feature
                width: 43%
                img 
                    width: 60%
                .imgText
                     font-size: 1.65rem


section#section_performance
    padding-left: 20px
    padding-top: 125px

