section#section_feature
    .imgDiv#cellphonePic
        img.cellphoneImg
            width: 100%
            height: auto
    .featureDiv
        .feature_line
            .feature
                width: 32%