.color_block1
    left: 0.3rem
.color_block2
    left: calc(1.7rem + 4px)
    
section#section_feature
    .imgDiv#cellphonePic
        img.cellphoneImg
            
            max-height: 115%
            width: auto
            // max-width: 100%
            bottom: -85px
    .featureDiv
        .feature_line
            .feature
                img 
                    width: 65%


section#section_performance
    padding-right: 60px
    padding-top: 170px
    .performanceDiv1 .title > img#magnifier_img
        bottom: calc(100% - 5rem)
    .performanceDiv2
        width: 100%
        .subtitle
            width: 60%
            text-align: center
            left: -25px
            max-width: 270px
        img 
            width: 60%
            max-width: 270px
        p 
            width: 60%
            max-width: 400px
    .performanceDiv3
        width: 70%
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-left: auto
        margin-top: 40px
        // align-self: flex-end

        .p_bigText,img,.subtitle
            width: 100%
        .p_bigText
            order: 2
            margin-top: 15px
            margin-bottom: 10px
        .subtitle
            order: 1
            text-align: center
            
        img
            order: 3
            width: 40%
            min-width: 200px


section#section_review
    .container-fluid
        .row
            #first_review
                padding-left: 20px
            #third_review
                padding-right: 20px

            
            




            